html,
body,
#map {
    height: 100%;
}

.tap-target {
    color: white;
}

div.material-tooltip:nth-child(11) {
    background-color: #a3b707;
}

div.material-tooltip:nth-child(12) {
    background-color: #cd071e;
}

div.material-tooltip:nth-child(13) {
    background-color: #7abcb3;
}

div.material-tooltip:nth-child(14) {
    background-color: #f39700;
}

div.material-tooltip:nth-child(15) {
    background-color: #3448d0;
}

a#lvs:not(.clicked){

    content: url('../icons/geschaeftsstellen_gray.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#lvs.clicked{

    content: url('../icons/geschaeftsstellen.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#lvs:hover{

    content: url('../icons/geschaeftsstellen.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}
a#groups:not(.clicked){

    content: url('../icons/gruppe_gray.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#groups.clicked{

    content: url('../icons/gruppe.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#groups:hover{

    content: url('../icons/gruppe.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}
a#dates:not(.clicked){

    content: url('../icons/termine_gray.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#sk:not(.clicked){

    content: url('../icons/storchenkoffer_gray.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#sk.clicked{

    content: url('../icons/storchenkoffer.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#sk:hover{

    content: url('../icons/storchenkoffer.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#dates.clicked{

    content: url('../icons/termine.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#dates:hover{

    content: url('../icons/termine.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#insektenrucksaecke:not(.clicked){

    content: url('../icons/insektenrucksack_gray.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#insektenrucksaecke.clicked{

    content: url('../icons/insektenrucksack.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#insektenrucksaecke:hover{

    content: url('../icons/insektenrucksack.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#dates,a#groups,a#lvs,a#sk,a#insektenrucksaecke{
    background-color: transparent !important;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.myMarkerCluster {
    border-radius: 50%;
    width:1.5em;
    height:1.5em;
    background-color:darkslategrey;
    color:white;
    position: absolute;
    top: 50%;
    left: 70%;
    font-weight: bold;
    text-align:center;
}

.divIconGruppe{
    width: 32px;
    height: 37px;
    line-height: 37px;
    background-image: url('../icons/gruppe.png');
    text-align: center;
}

.divIconTermin{
    width: 32px;
    height: 37px;
    line-height: 37px;
    background-image: url('../icons/termine.png');
    text-align: center;
}

.divIconInsektenrucksack{
    width: 32px;
    height: 37px;
    line-height: 37px;
    background-image: url('../icons/insektenrucksack.png');
    text-align: center;
}


/* mobile phone */
@media all and (max-width: 768px) {
.modal.open{
    width: 100%;
    max-height: 100%;
    height: 100%;
    top: 0 !important;
}
}
