html,
body,
#map {
    height: 100%;
}

.tap-target {
    color: white;
}

div.material-tooltip:nth-child(11) {
    background-color: #4CAF50;
}

div.material-tooltip:nth-child(12) {
    background-color: #ffeb3b;
}

div.material-tooltip:nth-child(13) {
    background-color: #ff9800;
}

.myDivIcon {
    pointer-events: none;
    color: white;
    border-radius: 50%;
    line-height: 36px;
    padding: 0 0 0 5px;
    display: block;
}

.myDivIconHighlight {
    color: white;
    border-radius: 50%;
    line-height: 54px;
    display: block;
    padding: 0 0 0 10px;
    font-size: xx-large;
}

.myMarkerCluster {
    border-radius: 50%;
    width:1.5em;
    height:1.5em;
    background-color:darkslategrey;
    color:white;
    position: absolute;
    top: 50%;
    left: 70%;
    font-weight: bold;
    text-align:center;
}