html,
body,
#map {
    height: 100%;
}

.tap-target {
    color: white;
}

/* TODO extendCategories: add color for new menu child */

div.material-tooltip:nth-child(11) {
    background-color: #66c0be;
}

div.material-tooltip:nth-child(12) {
    background-color: #ec6ea5;
}

div.material-tooltip:nth-child(13) {
    background-color: #b60e0c;
}

/* TODO extendCategories: add css classes for menu items */

a#projektpartner:not(.clicked){

    content: url('../icons/projektpartner_gray.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#projektpartner.clicked{

    content: url('../icons/projektpartner.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#projektpartner:hover{

    content: url('../icons/projektpartner.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#konsultationskitas:not(.clicked){

    content: url('../icons/konsultationskitas_gray.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#konsultationskitas.clicked{

    content: url('../icons/konsultationskitas.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#konsultationskitas:hover{

    content: url('../icons/konsultationskitas.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#gewinnerkitas:not(.clicked){
    content: url('../icons/gewinnerkitas_gray.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#gewinnerkitas.clicked{
    content: url('../icons/gewinnerkitas.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#gewinnerkitas:hover{
    content: url('../icons/gewinnerkitas.png');
    width: 32px;
    height: 37px;
    line-height: 37px;
    text-align: center;
}

a#projektpartner,a#konsultationskitas,a#gewinnerkitas{
    background-color: transparent !important;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.myMarkerCluster {
    border-radius: 50%;
    width:1.5em;
    height:1.5em;
    background-color:darkslategrey;
    color:white;
    position: absolute;
    top: 50%;
    left: 70%;
    font-weight: bold;
    text-align:center;
}

/* TODO extendCategories: add divIcon for map markers */

.divIconProjektpartner{
    width: 32px;
    height: 37px;
    line-height: 37px;
    background-image: url('../icons/projektpartner.png');
    text-align: center;
}

.divIconKonsultationskitas{
    width: 32px;
    height: 37px;
    line-height: 37px;
    background-image: url('../icons/konsultationskitas.png');
    text-align: center;
}


/* mobile phone */
@media all and (max-width: 768px) {
.modal.open{
    width: 100%;
    max-height: 100%;
    height: 100%;
    top: 0 !important;
}
}
